@media (max-width: 1280px){
    body{
        padding: 0 40px;
    }
}

@media(max-width: 768px){
    h1 .conteudo .fileira-lateral{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 .conteudo .fileira-lateral{
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 425px){
    h1{
        max-width: 300px;
    }

    .conteudo{
        width: 100%;
    }

    .fileira-lateral{
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .fileira-lateral ul{
        flex-direction: row;
    }

    .conteudo{
        min-height: 70vh;
        gap: 50px;
    }

    body{
        padding: 40px;
    }
}